@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);

@charset "utf-8";
body,div,p,h1,h2,h3,h4,a,input,textarea,select,button,table{font-family:"나눔고딕", "Nanum Gothic", "돋움", "Dotum", Helvetica, Arial, sans-serif;
;font-size:14px}
div{font-family:"나눔고딕", "Nanum Gothic", "돋움", "Dotum", Helvetica, Arial, sans-serif;
;font-size:12px}
h1{font-size:21px;}
ul,ol{list-style:none}
a{text-decoration:none}

#header{clear:both;
			float:left;
			width:100%;
			min-height:74px;
			background:#64cbf9;
			position:relative;
			}
#header nav{
			width:980px;
			margin-top:0;
			margin-right:auto;
			margin-bottom:0;
			margin-left:auto;
			}			
#header nav ul{
			float:left;
			margin-top:30px;
			margin-left:30px;
			}		
	
#header nav ul a{clear:;
			float:left;
			width:85px;
			color:#fff;
			text-align:center;
			font-family:v
			erdana,arial;
			
			}
#sla {clear:both;
    background-color:#eee;
    border-bottom:1px solid #ddd
}
#contentwrap {
    width:980px;
	margin: 0 auto;
    }
.content1{
	    width:650px;
	margin: 0 auto;
}
.content2{
	    width:300px;
	margin: 0 auto;
}

.wrap {
    width:980px;
    height:40px;
    line-height:40px;
    margin:0 auto;
    position:relative;
    vertical-align:middle	
#w_line{
    padding-left:15px;
    color:#999
.line{
    color:#bbb;
    padding:0 5px